<!DOCTYPE html>
<html>

<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
        background-color: #4CAF50;
        }
    </style>
    <meta charset="utf 8">
    <title>Get Weather</title>
    <link href="https://restcountries.eu/rest/v2/name/Canada?fullText=true">
    <link href="http://api.openweathermap.org/data/2.5/weather?q=Ottawa&APPID=7f253b3f0415a60df2a06fad4561a16b&units=imperial">
</head>
<ul>
    <li><a href="Homepage">Homepage</a></li>
    <li><a class="active" href="weather">weather</a></li>
    <li><a href="info">info</a></li>
</ul>
<body>

</body>
    {{> get_weather}}
    {{> cfooter}}
</html>